.card{
  border: 1px solid black;
  box-sizing: border-box;
  width: 200px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction:column;
  // padding: 10px;
  // margin-left: 10px;
  // margin-right: 10px;
}

.title{
  margin-top: 5px;
  margin-bottom: 5px;
}

.category{
  margin-top: 5px;
  margin-bottom: 5px;
}

.description{
  margin-top: 5px;
  margin-bottom: 5px;
}

.picture{
  width: 100%;
  height: 80%;
  border: 1px solid black;
}