@import '../../scss/1-settings/_all';
@import '../../scss/6-components/all';

.container{
  @extend %container;
  margin-top: 10px;
  min-height: 100%;
}

.children{
  margin-bottom: $footer-height;
}




