// Font family
$primary-font      : "Roboto Condensed", "Open Sans", sans-serif;


// Color Variables
$accent-color      : #8dc972;
$primary-color     : #000000;
$secondary-color   : #000000;

$bg-color          : #ffffff;
$body-color        : #000000;
$muted-color       : #585858;


$header-height     : 50px;
$footer-height     : 25px;

